/*
@font-face {
	font-family: "";
	src: url("../fonts/.eot");
	src: url("../fonts/") format("embedded-opentype"),
			 url("../fonts/.woff") format("woff"),
			 url("../fonts/.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
*/

/*
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
*/

/* Common styles */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

body {
  font-size: 0.625em;
}

img,
video,
audio {
  max-width: 100%;
}

ul {
  list-style: none;
}

.clearfix {
  display: table;
  clear: both;
  content: "";
}

.container {
  width: ;
  margin: 0 auto;
}

.hidden {
  display: none;
}

/* Media-queries-desktops/tablets */
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Media-queries-desktops/smartphones */
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}