@import 'helpers/variables';
@import 'helpers/mixins';

@import 'global/normalize.scss';
@import 'global/common-styles.scss';
@import 'global/fonts.scss';

@import 'blocks/page-header.scss';
@import 'blocks/main-nav.scss';
@import 'blocks/page-footer.scss';

